body {
	margin: 0;
  	padding: 0;
  	font-family: sans-serif;
  	font-family: 'Open Sans', sans-serif;
}

.unset{
	all: unset;
}

.sombra{
	box-shadow: 0 -3px 6px 1px #616161;
}

.blur{
	filter: blur(5px);
}

.alineacionCentro {
	display: flex;
	align-items: center;
	justify-content: center;
}

.transicion{
	transition: all 0.2s linear;
}

.title {
	font-family: 'Oswald', sans-serif;
	font-size: 2.5rem;
}

.titulo-principal{
	font-family: 'Oswald', sans-serif;
	font-size: 3rem;
}

.grid-3 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 2rem;
}

.grid-2 {
	display: grid;
	grid-gap: 2rem;
	grid-template-columns: repeat(2, 1fr);
	padding-top: 0;
}

.text-center {
	text-align: center;
	margin: auto;
}

.text-der{
	text-align: right;
	margin: auto;
}

.text-izq{
	text-align: left;
	margin: auto;
}

.bg-light {
	background: #E0E0E0;
	color: rgba(66,66,66,1.4);
}

.bg-dark {
	background: #333;
	color: #fff;
}

.bg-blue{
	background: #697DF2;
	color: white;
	box-shadow: inset 0 0 8px 3px #424242;
}

.bg-red{
	background: #C9353F;
	color: #fff;
}

.padding-ver {
	padding: 2rem 0;
}

.container {
	max-width: 65rem;
	margin: auto;
	overflow: hidden;
	padding: 1rem;
}

/*************************************volver arriba*************************************/
.volver-arriba{
	position: fixed;
	right: 1rem;
	bottom: 1rem;
	display: block;
	background: #283593;
	padding: 0.3rem 1rem;
	opacity: 0.6;
	box-shadow: 0 0 15px -4px rgb(0,0,0);
	z-index: 50;
}

.volver-arriba:hover{
	opacity: 1;
}

.boton{
	color: #fff;
	font-weight: bold;
	letter-spacing: 1px;
	cursor: pointer;
	border-radius: 5px;
}